
body {
    font-family: sans-serif;
    max-width: 800px;
    margin-top: -21px;
    margin-left: 66px;
    border-left: 1px solid gray;
    padding-left: 24px;
    margin-bottom: -15px;
}

div.content {
    padding-top: 21px;
    padding-bottom: 15px;
}

h1 {

}

hr {
    color: gray;
    background-color: gray;
    height: 1px;
    margin-left: -24px;
    margin-right: -24px;
    border: 0px solid gray;
}

.draft {
    color: #008080;
}

table {
    padding: 0;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

tr {
    margin: 0;
    padding: 2px;
}
td {
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    margin: 0;
    padding: 2px;
}
th {
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    margin: 0;
    padding: 2px;
}


span.keyword {
    font-weight: bold;
}
span.emph {
    font-style: italic;
}
span.hilite {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

div.author {
    float: right;
    margin-top: 27px;
    color: grey;
}

.code {
    font-family: monospace;
}
div.code {
    border: 1px dashed grey;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 21px;
    padding-left: 21px;
    white-space: pre;
    overflow-x: auto;
    background: #fff;
}
div.points {
    float: left;
    text-align: right;
    margin-left: -88px;
    min-width: 50px;
}
li div.points {
    margin-left: -128px;
}
div.points.easy {
    color: #008000;
}
div.points.hard {
    color: #800000;
    font-weight: bold;
}

table.board {
    float: left;
    margin-left: 20px;
    border: 1px solid #000;
    border-right: 0;
    border-top: 0;
    border-spacing: 0; 
}
table.board tr {
    border: 0;
}
table.board td {
    border: 1px solid #000;
    border-bottom: 0;
    border-left: 0;    
    padding: 0;
    width: 25px;
    height: 25px;  
    background: #0a0;
    vertical-align: middle;

}

table.board div.W {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    border: 0;
    width: 20px;
    height: 20px;
    margin-left:auto;
    margin-right:auto;    
    background: #fff;        
}
table.board div.B {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    border: 0;
    width: 20px;
    height: 20px;
    margin-left:auto; 
    margin-right:auto;    
    background: #000;        
}
table.board div.G {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    border: 0;
    width: 20px;
    height: 20px;
    margin-left:auto; 
    margin-right:auto;    
    background: #353;        
}
table.board div.S {
    border: 2px solid #f00;
}


